* {
}

.container-global {
  background: wheat;
  padding: 50px 10px;
  width: 40%;

  .container {
    padding: 10px 0;
    h1 {
      font-size: 2rem;
      font-weight: 700;
      padding: 10px 0;
      background: grey;
    }
    p {
      padding: 10px 0;
      background: grey;
    }
  }
}
